@use "../var/mixins" as *;

.all-products{
  padding: 50px 0;

  @include sm{
    padding: 25px 0;
  }

  h1{
    font-size: 33px;
    margin-bottom: 30px;
  }

  h2{
    font-size: 33px;
    text-align: center;
    margin-bottom: 10px;

    @include xxsm{
      font-size: 23px;
    }
  }

  .all-products-signing{
    text-align: center;
    font-size: 13px;
    margin-bottom: 50px;
  }

  .all-products-boxes, .index-all-products-boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .all-products-box{
      width: 300px;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      padding: 20px;

      @include lm{
        width: 260px;
      }

      @include sm{
        width: calc((100% - 20px) / 2);
      }

      img{
        width: 200px;
        height: 200px;
        margin: 0 auto 20px;

        @include sm{
          width: 100px;
          height: 100px;
        }
      }

      h4{
        font-size: 19px;
        margin-bottom: 20px;

        @include sm{
          font-size: 13px;
        }
      }

      .old-price{
        text-decoration: line-through;
        color: red;

        @include sm{
          font-size: 10px;
        }
      }

      .price{
        font-size: 17px;

        @include sm{
          font-size: 10px;
        }
      }
    }
  }
}