@use "../var/mixins" as *;

.hero{
  padding: 50px 0;

  h1{
    font-size: 42px;
    margin-bottom: 50px;

    @include xxsm{
      font-size: 30px;
    }
  }

  .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include lg{
      gap: 50px;
    }

    @include sm{
      gap: 20px;
    }

    .box{
      width: calc((100% - 100px) / 4);
      height: 500px;
      box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      border-radius: 20px;

      @include lg{
        width: calc((100% - 50px) / 2);
      }

      @include sm{
        width: 100%;
      }

      a{
        margin: auto;
        padding: 20px;

        .boxes-text{
          margin: 20px 0;

          p{
            font-size: 12px;
            margin-bottom: 5px;
          }

          h4{
            font-size: 23px;
          }
        }

        img{
          width: 250px;
          height: 250px;
        }
      }
    }

    .box-2{
      img{
        height: 230px;
      }
    }
  }
}